@import './color.scss';
body{
    font-family: 'Roboto', sans-serif !important;
}
.nav-bar{
    .goupomania-logo{
        margin: 0;
    }
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    .button-of-nav{
        display: flex;
        justify-content: space-around;
        .disconnect-link{
            border-radius: 15px;
            padding: 10px;
            background-color: red;
            color: white !important;
            border: none;
            cursor: pointer;
            margin-left: 10px;
            i{
                padding-right: 5px;
            }
        }
        .my-profil{
            border-radius: 15px;
            padding: 10px;
            background-color: $blue-reddit;
            color: white !important;
            border: none;
            cursor: pointer;
            margin-right: 10px;
            i{
                padding-right: 5px;
            }
        }
    }
    
}

.button-create-post{
    display: flex;
    margin: 0 auto;
    background-color: $grey-reddit;
    i{
        font-size:30px;
    }
}
