@import './color.scss';

body{
    background: $grey-reddit;
    font-family: 'Roboto', sans-serif !important;
    margin: 0 ;
    
}

a{
    text-decoration: none;
    
}
.button-publish-post{
    background-color: $orange-reddit;
    color: $white-reddit;
}
.label-create-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-create{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
}
a:link {
    color: black;
}

a:visited {
    color: black;
}

button {
    border-radius: 15px;
    padding: 10px;
    color: $blue-reddit;
    border: none;
    cursor: pointer;
    background-color: white;
}
.button-publish-comment{
    background-color: $orange-reddit;
    color: $white-reddit;
}
.get-post-card{
    background-color: white;
    
    
}
.label-create-profil{
    padding-bottom: 10px;
}

.post{ 
    background-color: $white-reddit; 
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    border: 0.5px solid $border-color;
    margin-bottom: 0px !important;
    display: flex;
    margin: 20px auto;
    width: 30%;
    
    .user{
        background-color: white;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .created-at{
            font-size: 12px;
        }
    }

    .comment {
        margin: 5px;
        padding: 20px;
        cursor: pointer;
    }
    .nav-bar-title{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-post {
        display: flex;
        padding: 15px;
        background-color: $white-reddit;
        justify-content: space-around;
        align-items: center !important;
        button{
            background-color: $white-reddit;
        }
        i{
            font-size: 17px;
        }
        .show-comments{
            border: none;
            cursor: pointer;
            
        }
        .delete-button {
            color: red !important;
            i{
                color: red;
            }
        }
            .comments-of-post {
                background-color: $orange-reddit;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                

                .user-of-comment-post {
                    background-color: darkorchid;
                    margin: 10px;
                }
                .response-of-comment-post {
                    background-color: darkseagreen;
                    margin: 10px;
                    
                }
                p { margin-right: 100px }
            }
        
    }
}

.comments{
    background-color: $white-reddit;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    .delete-button {
        color: red;
        background-color: white;
        i{
            color: red;
            font-size: 15px;
        }
    }
}
.all-comments{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    .button-create-comment{
        font-size: 20px;
        background-color: $grey-reddit !important;
    }
}